<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448424004466-9mnqt2htq7m8mgo2u167ndi6qp2f0ui3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448424004466-9mnqt2htq7m8mgo2u167ndi6qp2f0ui3</string>
	<key>API_KEY</key>
	<string>AIzaSyDrnMk8_qig8kHkzZOw59PYkVbiaHQWKb0</string>
	<key>GCM_SENDER_ID</key>
	<string>448424004466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clavery.iou</string>
	<key>PROJECT_ID</key>
	<string>iathair</string>
	<key>STORAGE_BUCKET</key>
	<string>iathair.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448424004466:ios:77735cce6e1e5280f7abeb</string>
</dict>
</plist>